@charset "UTF-8";



/*
text-transform: uppercase; /*deixa tudo em letra maiúscula.
*/

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    text-align: center;
    background-color: black;
    color: white;
    font-family: consolas;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps; /*deixa todas as letras maiúsculas, mas menores.*/
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
    color: red;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.171);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a:hover{
    color: red;
    text-decoration: underline;
}